{% extends 'base.html' %}
{% load static %}


{% block title %}
    PassResetDone
{% endblock title %}
    

{% block body %}
<div class="card-header text-light h5" style="background-color: #c29958;">
    <strong style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Well done !</strong>
</div>
<div class="p-2">
    An Email has been sent with instructions to reset your password. <b class="text-success">Check Your Email!</b>
</div>
<div class="mt-2 col-2" >
    <a class="btn btn-block btn-sqr" href="{% url 'signin' %}">Go Signin</a>
</div>
<hr>
{% endblock body %}
    