{% extends 'base.html' %}
{% load static %}


{% block title %}
Password Reset
{% endblock title %}



{% block body %}
<div class="login-register-wrapper section-padding">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row ">
                <!-- Login Content Start -->
                <div class="col-lg-5 mx-auto">
                    <div class="login-reg-form-wrap">
                        <h5>Password Reset</h5>
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            <div class="form-goup">
                                {% for fm in form %}
                                <!-- <label>{{fm.label_tag}}</label> -->
                                <div class="single-input-item">
                                    {{fm}}
                                    <strong class="text-danger">{{fm.errors|striptags}}</strong>
                                </div>
                                {% endfor %}

                                <div class="single-input-item">
                                    <button class="btn btn-block btn-sqr">Password Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Login Content End -->
            </div>
        </div>
    </div>
</div>

{% endblock body %}